.player-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: 100%;
    width: 37px;
    font-size: 19px;
    color:white;
}
.player-time {
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
}
.video-container {
    flex-grow: 10;
}
.player-container {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px;
    margin-top: 10px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
}
.player-panel {
    background-color:black;
    height: 50px;
    display: flex;
    align-items: center;
}
.player-timeline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 10;
}
.progressbar {
    flex-grow: 10;
    height: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
.progressline{
    height: 100%;
    border-radius: 4px;
    background-color: red;
}
.dot {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    height: 8px;
    width: 8px;
    background-color: rgb(255, 1, 1);
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}
.player-panel:hover .dot {
    opacity: 1;
    transition-timing-function: ease-in;
}